.divCard{
    background-color: rgb(214, 127, 255);
    margin-top: 1rem;
    padding: 1rem;
}

.cross{
    display: inline-block;
    justify-content: flex-end;
    color: black;
    background-color: darkred;
    width: 25px;
    border-radius: 50%;
    border-color: darkred;
}

